<f:layout name="Default" />

<f:section name="main">
<div class="btn-group cn-{countryLanguage.country.cntldomain}">
	<a class="btn btn-inverse" href="<f:uri.page additionalParams="{L: currentCountry.uid}" pageUid="{settings.rootUid}" />">
		{currentCountry.country.cnshortlocal}
	</a>
	<f:if condition="<f:count>{sameCountries}</f:count> > 1">
	
		<a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="<f:uri.page additionalParams="{L: currentCountry.uid}" pageUid="{settings.rootUid}" />">
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<f:for each="{sameCountries}" as="countryLanguage" iteration="langIter">
				<f:if condition="{countryLanguage.uid -> f:cObject(typoscriptObjectPath: 'plugin.tx_countrymanager.languageExists')}">
					<li class="lg-{countryLanguage.language.lgiso}<f:if condition="{countryLanguage.uid} == {currentCountry.uid}"> active</f:if>"><f:link.page additionalParams="{L: countryLanguage.uid}">{countryLanguage.language.lgnameen}</f:link.page></li>
				</f:if>
			</f:for>
		</ul>
	</f:if>
</div>
</f:section>
